*/*.o
*/.deps
*/*/*.o
*/*/.deps
*/*/*/*.o
*/*/*/.deps
Makefile
Makefile.in

compile
configure
config.h
config.h.in
config.status
config.log

AUTHORS
COPYING
ChangeLog
INSTALL
NEWS

depcomp
install-sh
aclocal.m4
aminclude_static.am
autom4te.cache
ltmain.sh
m4/
missing
stamp-h
	

